language: java

jdk: openjdk7

matrix:
  include:
    - sudo: false
      dist: trusty
      env: SUDO=false DIST=trusty
    - sudo: required
      dist: trusty
      env: SUDO=required DIST=trusty
      
install: true
script:
  - echo $JAVA_HOME
  - echo $PATH
