language: c
sudo: false

cache:
  directories:
    - gcc-arm-none-eabi-4_9-2015q3

install:
  - if [ ! -d gcc-arm-none-eabi-4_9-2015q3/bin ]; then rm -rf gcc-arm-none-eabi-4_9-2015q3; wget https://launchpad.net/gcc-arm-embedded/4.9/4.9-2015-q3-update/+download/gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2; tar -xf gcc-arm-none-eabi-4_9-2015q3-20150921-linux.tar.bz2; fi
  - export PATH=$PWD/gcc-arm-none-eabi-4_9-2015q3/bin:$PATH

script: true
