language: node_js
node_js: 8.9.3
env:
  global:
    - PATH="$HOME/.yarn/bin:$PATH"

matrix:
  include:
    - env: FOO=GOOD
    - env: FOO=BAD
      before_script: yarn --version

install:
  - which yarn && hash yarn
script:
  - which yarn && hash yarn
  - (test "$(yarn --version)" == "0.24.6") || curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.24.6
  - which yarn && hash yarn
  - yarn --version && test "$(yarn --version)" == "0.24.6"
