matrix:
  include:
    - sudo: false
    - sudo: required
    - sudo: required
      dist: trusty
before_install:
  - mkdir -p $HOME/bin
  - wget https://github.com/github/git-lfs/releases/download/v1.1.2/git-lfs-linux-amd64-1.1.2.tar.gz
  - tar xvfz git-lfs-linux-amd64-1.0.1.tar.gz
  - mv git-lfs-1.1.2/git-lfs $HOME/bin/git-lfs
  - export PATH=$PATH:$HOME/bin/
install: true
script:
  - git lfs --version
  - git lfs help
  - git lfs install
