sudo: required
dist: trusty

install: true
script:
  - docker --version
  - sudo apt-cache policy docker-engine
  - sudo apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
  - echo "deb https://apt.dockerproject.org/repo ubuntu-trusty main" | sudo tee /etc/apt/sources.list.d/docker.list
  - sudo apt-get update
  - sudo apt-cache policy docker-engine
  - sudo apt-get install docker-engine=1.12.6
  - docker --version
